//Put any bootstrap var overrides here
//This file is included before bootstrap to define customizations it will use

//These are suggested as being more compatible with default material design
// by https://www.amadousall.com/the-good-parts-of-bootstrap-4-you-are-missing-in-your-angular-material-projects/
$link-color: #3f51b5;
$link-hover-color: currentColor;
$link-hover-decoration: none;
$label-margin-bottom: 0;
