/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: auto;
}

.mat-autocomplete-panel {
  max-height: min(450px, 80vh) !important;
}

bulk-photo-edit-dialog {
  mat-form-field, mat-slider {
    width: 100%;
  }
}

create-tag-dialog {
  mat-form-field, mat-radio-group, mat-radio-button {
    width: 100%;
  }
}

.mat-form-field-infix {
  width: 100% !important;
}

